<section class="artist-edit-content bg-custom-gradient animated fadeIn">
    <div class="container custom_container">
        <div class="alert alert-danger" role="alert" *ngIf="!artist">
            <strong>Error.</strong> Couldn't find the artist
        </div>
        <form novalidate #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="artist">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Edit {{artist.name}} <small>Artist</small></h1>
                    <hr />
                    <div class="alert alert-danger"
                        role="alert"
                        *ngIf="errorMessage">
                        <strong>Oops.</strong> {{errorMessage}}
                    </div>
                </div>
            </div>
            <div class="form-group row"
                [ngClass]="{'has-danger': name.invalid && name.touched}">
                <div class="col-lg-8 offset-lg-2">
                    <input class="form-control"
                        id="name"
                        type="text"
                        name="name"
                        placeholder="Name"
                        required
                        [(ngModel)]="artist.name"
                        #name="ngModel"
                        [ngClass]="{'form-control-danger': name.invalid && name.touched}" />
                    <div class="form-control-feedback"
                        *ngIf="name.errors?.required && name.touched">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="form-group row"
                [ngClass]="{'has-danger': description.invalid && description.touched}">
                <div class="col-lg-8 offset-lg-2">
                    <textarea class="form-control"
                        id="description"
                        name="description"
                        rows="3"
                        placeholder="Description"
                        required
                        [(ngModel)]="artist.description"
                        #description="ngModel"
                        [ngClass]="{'form-control-danger': description.invalid && description.touched}"></textarea>
                    <div class="form-control-feedback"
                        *ngIf="description.errors?.required && description.touched">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8 offset-lg-2 text-center mb-2">
                    <img class="img-thumbnail"
                        width="300"
                        alt="Artist image"
                        [src]="artistService.getImage(artist)" />
                </div>
                <div class="col-lg-8 offset-lg-2">
                    <input class="form-control"
                        id="image"
                        type="file"
                        name="image"
                        (change)="inputFileChange($event)" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8 offset-lg-2 text-right">
                    <button class="btn btn-primary"
                        type="submit"
                        [disabled]="form.invalid"
                        [ngClass]="{'cursor-pointer': !form.invalid}">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
