<section class="album-edit-content bg-custom-gradient animated fadeIn">
    <div class="container custom_container">
        <div class="alert alert-danger" role="alert" *ngIf="!album">
            <strong>Error.</strong> Couldn't find the album
        </div>
        <form novalidate #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="album">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Edit {{album.title}} <small>Album</small></h1>
                    <hr />
                    <div class="alert alert-danger"
                        role="alert"
                        *ngIf="errorMessage">
                        <strong>Oops.</strong> {{errorMessage}}
                    </div>
                </div>
            </div>
            <div class="form-group row"
                [ngClass]="{'has-danger': title.invalid && title.touched}">
                <div class="col-lg-8 offset-lg-2">
                    <input class="form-control"
                        id="title"
                        type="text"
                        name="title"
                        placeholder="Title"
                        required
                        [(ngModel)]="album.title"
                        #title="ngModel"
                        [ngClass]="{'form-control-danger': title.invalid && title.touched}" />
                    <div class="form-control-feedback"
                        *ngIf="title.errors?.required && title.touched">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="form-group row"
                [ngClass]="{'has-danger': description.invalid && description.touched}">
                <div class="col-lg-8 offset-lg-2">
                    <textarea class="form-control"
                        id="description"
                        name="description"
                        rows="3"
                        placeholder="Description"
                        required
                        [(ngModel)]="album.description"
                        #description="ngModel"
                        [ngClass]="{'form-control-danger': description.invalid && description.touched}"></textarea>
                    <div class="form-control-feedback"
                        *ngIf="description.errors?.required && description.touched">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="form-group row"
                [ngClass]="{'has-danger': year.invalid && year.touched}">
                <div class="col-lg-8 offset-lg-2">
                    <input class="form-control"
                        id="year"
                        type="number"
                        name="year"
                        placeholder="Year"
                        required
                        pattern="\d{4}"
                        [(ngModel)]="album.year"
                        #year="ngModel"
                        [ngClass]="{'form-control-danger': year.invalid && year.touched}" />
                    <div class="form-control-feedback"
                        *ngIf="year.errors?.required && year.touched">
                        This field is required
                    </div>
                    <div class="form-control-feedback"
                        *ngIf="year.errors?.pattern && year.touched">
                        The year written is invalid
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8 offset-lg-2 text-center mb-2">
                    <img class="img-thumbnail"
                        width="300"
                        alt="Album image"
                        [src]="albumService.getImage(album)" />
                </div>
                <div class="col-lg-8 offset-lg-2">
                    <input class="form-control"
                        id="image"
                        type="file"
                        name="image"
                        (change)="inputFileChange($event)" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8 offset-lg-2 text-right">
                    <button class="btn btn-primary"
                        type="submit"
                        [disabled]="form.invalid"
                        [ngClass]="{'cursor-pointer': !form.invalid}">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
