<section class="song-add-content bg-custom-gradient animated fadeIn">
    <div class="container custom_container">
        <form novalidate #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Add Song</h1>
                    <hr />
                    <div class="alert alert-danger"
                        role="alert"
                        *ngIf="errorMessage">
                        <strong>Oops.</strong> {{errorMessage}}
                    </div>
                </div>
            </div>
            <div class="form-group row"
                [ngClass]="{'has-danger': name.invalid && name.touched}">
                <div class="col-lg-8 offset-lg-2">
                    <input class="form-control"
                        id="name"
                        type="text"
                        name="name"
                        placeholder="Name"
                        required
                        [(ngModel)]="song.name"
                        #name="ngModel"
                        [ngClass]="{'form-control-danger': name.invalid && name.touched}" />
                    <div class="form-control-feedback"
                        *ngIf="name.errors?.required && name.touched">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="form-group row"
                [ngClass]="{'has-danger': duration.invalid && duration.touched}">
                <div class="col-lg-8 offset-lg-2">
                    <input class="form-control"
                        id="duration"
                        type="text"
                        name="duration"
                        placeholder="Duration"
                        required
                        pattern="[0-9]{1,2}\:[0-9]{1,2}"
                        [(ngModel)]="song.duration"
                        #duration="ngModel"
                        [ngClass]="{'form-control-danger': duration.invalid && duration.touched}" />
                    <div class="form-control-feedback"
                        *ngIf="duration.errors?.required && duration.touched">
                        This field is required
                    </div>
                    <div class="form-control-feedback"
                        *ngIf="duration.errors?.pattern && duration.touched">
                        The duration written is invalid. The format should be mm:ss
                    </div>
                </div>
            </div>
            <div class="form-group row"
                [ngClass]="{'has-danger': number.invalid && number.touched}">
                <div class="col-lg-8 offset-lg-2">
                    <input class="form-control"
                        id="number"
                        type="number"
                        name="number"
                        placeholder="Number"
                        required
                        [(ngModel)]="song.number"
                        #number="ngModel"
                        [ngClass]="{'form-control-danger': number.invalid && number.touched}" />
                    <div class="form-control-feedback"
                        *ngIf="number.errors?.required && number.touched">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8 offset-lg-2 text-right">
                    <button class="btn btn-primary"
                        type="submit"
                        [disabled]="form.invalid"
                        [ngClass]="{'cursor-pointer': !form.invalid}">
                        Insert
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
