<section class="album-detail-content bg-custom-gradient animated fadeIn">
    <div class="container custom_container">
        <div class="alert alert-danger" role="alert" *ngIf="!album">
            <strong>Error.</strong> Couldn't find the album
        </div>
        <div class="row" *ngIf="album">
            <div class="col-md-4 text-center">
                <img class="img-thumbnail"
                    [src]="albumService.getImage(album)"
                    [alt]="album.title" />
                <h4 class="mt-2 font-weight-bold">{{album.title}}</h4>
                <hr class="mb-3"/>
                <p>{{album.description}}</p>
            </div>
            <div class="col-md-8">
                <h2>Songs</h2>
                <hr [ngClass]="{'mb-2': isAdmin, 'mb-3': !isAdmin  && !errorMessage}"/>
                <div class="text-right" *ngIf="isAdmin">
                    <button class="btn btn-primary mb-3 cursor-pointer"
                        type="button"
                        [routerLink]="['/song-add', album.id]">
                        Add
                    </button>
                </div>
                <div class="alert alert-danger"
                    role="alert"
                    *ngIf="errorMessage"
                    [ngClass]="{'my-3': isAdmin, 'mb-3': !isAdmin}">
                    <strong>Oops.</strong> {{errorMessage}}
                </div>
                <div *ngIf="songs.length > 0">
                    <ul class="song-list item-list">
                        <li class="text-center" *ngFor="let song of songs">
                            <button class="btn play-btn"
                                type="button"
                                (click)="playSong(song)"
                                [disabled]="!song.file"
                                [ngClass]="{'cursor-pointer': song.file}">
                                <img src="assets/img/glyphicons-play.svg"
                                    alt="Glyphicons play"
                                    *ngIf="!musicPlayerService.isSongPlaying(song.id)" />
                                <img src="assets/img/glyphicons-pause.svg"
                                    alt="Glyphicons pause"
                                    *ngIf="musicPlayerService.isSongPlaying(song.id)" />
                            </button>
                            <h6 class="mt-2 font-weight-bold">
                                {{song.number}}. {{song.name}} <small>({{song.duration}})</small>
                            </h6>
                            <div class="buttons" *ngIf="isAdmin">
                                <button class="btn btn-info btn-sm cursor-pointer mr-1"
                                    type="button"
                                    [routerLink]="['/song-edit', song.id]">
                                    Edit
                                </button>
                                <button class="btn btn-secondary btn-sm cursor-pointer ml-1"
                                    type="button"
                                    (click)="showConfirmAlert(song.id)">
                                    Delete
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade"
    id="myModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
            </div>
            <div class="modal-body">Are you sure to remove this song?</div>
            <div class="modal-footer">
                <button type="button"
                    class="btn btn-secondary cursor-pointer"
                    data-dismiss="modal"
                    (click)="songIdDelete = undefined">
                    Cancel
                </button>
                <button type="button"
                    class="btn btn-primary cursor-pointer"
                    (click)="deleteSong()">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
